@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90%;
}
.header__logo {
  margin-left: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.header__logo img {
  width: 40px;
  height: 40px;
}
.header__logo span {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF59E;
  padding: 25px;
  border-radius: 100%;
  transition: 0.5s;
  cursor: pointer;
  width: 3%;
}
.header__button img {
  width: 25px;
  height: 25px;
}
.header__button:hover {
  border-radius: 0%;
}

.wrapper {
  margin: 0px var(--margins);
  transform: translateY(200px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main img {
  width: 645px;
  height: 495px;
}
.main .main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .main-text img {
  width: 185px;
  height: 185px;
}
.main .main-text__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #14142B;
  width: 330px;
}
.main .main-text .arrow-button {
  background-color: #FFF59E;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 45%;
  padding: 10px;
  margin-top: 150px;
  transition: 0.8s;
}
.main .main-text .arrow-button span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.main .main-text .arrow-button img {
  width: 26px;
  height: 26px;
}

.mouser {
  margin-top: 150px;
  text-align: center;
}

.to-arrow {
  text-align: center;
  margin-top: 110px;
}

.arrow-button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: 0.8s;
  padding: 10px 20px;
  background-color: #FFF59E;
  color: #14142B;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}
.arrow-button:hover {
  transform: scale(1.01);
  background-color: #ffed52;
}
.arrow-button:active {
  transform: scale(1.01);
  background-color: #ffe81f;
}

.filter {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .categorys {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.filter .categorys .citem {
  background-color: white;
  padding: 40px 20px;
  border-radius: 15%;
  cursor: pointer;
  transition: 0.8s;
}
.filter .categorys .citem .citem-text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.filter .categorys .citem .citem-text__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: black;
}
.filter .categorys .citem:hover {
  transform: scale(1.03);
}
.filter .categorys .citem-active {
  background-color: #520101;
  padding: 40px 20px;
  border-radius: 15%;
  cursor: pointer;
  transition: 0.8s;
}
.filter .categorys .citem-active .citem-text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.filter .categorys .citem-active .citem-text__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: white;
}
.filter .categorys .citem-active:hover {
  transform: scale(1.03);
}
.filter .filters {
  margin-left: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.filter .filters .search {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.filter .filters .search input {
  background-color: white;
  padding: 15px;
  width: 295px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  color: #14142B;
  transition: 0.5s;
}
.filter .filters .search input:focus {
  background-color: #EFF0F6;
}
.filter .filters .sort {
  margin-top: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.filter .filters .sort__title {
  color: #14142B;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}
.filter .filters .sort__type {
  padding: 10px 30px;
  background-color: white;
  border-radius: 25%;
  cursor: pointer;
  transition: 0.8s;
}
.filter .filters .sort__type span {
  color: darkgray;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}
.filter .filters .sort__type img {
  transition: 0.5s;
}
.filter .filters .sort__type:active img {
  transform: rotate(180deg);
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFEE2;
}