@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 90%;
}
.header__logo {
  margin-left: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.header__logo img {
  width: 40px;
  height: 40px;
}
.header__logo span {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF59E;
  padding: 25px;
  border-radius: 100%;
  transition: 0.5s;
  cursor: pointer;
  width: 3%;
}
.header__button img {
  width: 25px;
  height: 25px;
}
.header__button:hover {
  border-radius: 0%;
}

.wrapper {
  margin: 0px var(--margins);
  transform: translateY(200px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main img {
  width: 645px;
  height: 495px;
}
.main .main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .main-text img {
  width: 185px;
  height: 185px;
}
.main .main-text__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #14142B;
  width: 330px;
}
.main .main-text .arrow-button {
  background-color: #FFF59E;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 45%;
  padding: 10px;
  margin-top: 150px;
  transition: 0.8s;
}
.main .main-text .arrow-button span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.main .main-text .arrow-button img {
  width: 26px;
  height: 26px;
}

.mouser {
  margin-top: 150px;
  text-align: center;
}

.to-arrow {
  text-align: center;
  margin-top: 110px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFEE2;
}