.result {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;

    .products {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .count {

    }
}