.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        width: 645px;
        height: 495px;
    }

    .main-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__title {
            @include defaultText(bold);
            font-size: 40px;
            line-height: 40px;
            color: $title;
            width: 330px;
        }
    }
}